/* GAME CONTAINER */
.container {
  background: #35654d;
  border-style: solid;
  border-style: black;

  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

/* HEADER */
.header {
  background-color:black;
  color: goldenrod;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color:goldenrod;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 2);
  display: flex;
}

/* HEADER - BUTTONS */
#shuffle, #reset {
  background-color: white;
  color: black;
  border-style: solid;
  border-color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
#shuffle:hover {
  background-color: lightgreen;
}
#reset:hover {
  background-color: lightcoral;
}

/* BOARD AND CARDS CONTAINER */
.board-container {  
  display: grid;
  grid-template-columns: 1fr 0.8fr 0.8fr 1fr;
  grid-template-rows: 2.2fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "player-1-deck player-1-cards player-2-cards player-2-deck"
    ". . . .";
  grid-area: 2 / 1 / 3 / 2;
  margin-top:30px;
}


.player-1-deck { grid-area: player-1-deck; }
.player-1-play-card { grid-area: player-1-cards; }
.player-2-play-card { grid-area: player-2-cards; }
.player-2-deck { grid-area: player-2-deck; }
.player-1-deck, .player-1-play-card, .player-2-play-card, .player-2-deck {
  align-items: center;
  text-align: center;
  justify-self: center;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.player-1-deck h3, .player-2-deck h3 {
  margin-bottom: 40px;
}


/* EACH CARD PROPERTIES */

.card-spade, .card-club  {
  background-color: white;
  width: 100px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  color: black;
  margin:5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.card-heart, .card-diamond {
  background-color: white;
  width: 100px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  position: relative; 
  color: red;
  margin:5px;

}


/* CARD CONTENT FORMAT */
.top-left-values {
  position: absolute;
  top: 3px;
  left: 5px;
  border: 3px;
  font-size: 120%;
  margin:0;
}

.top-left-values .value,.suit {
  margin:0;
}


.middle-suit {
  position: absolute;
  font-size: 100% !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle-suit .suit {
  font-size: 500%;
}

.bottom-right-values {
  position: absolute;
  bottom: 3px;
  right: 5px;
  font-size: 120%;
  margin:0;
  rotate: 180deg;
}


.bottom-left-values .suit,.value {
  margin:0;
}

/* 3D IMPLEMENTATION */
.card-spade,
.card-club,
.card-heart,
.card-diamond {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-spade:hover,
.card-club:hover,
.card-heart:hover,
.card-diamond:hover {
  transform: rotateY(180deg);
  cursor:pointer;
}

/* HIDE CARD CONTENT WHEN ROTATING */
.top-left-values,
.middle-suit,
.bottom-right-values {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  position: absolute;
}

/* CARD BACK PATTERN */
.card-back {
  background-color: black;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-back img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}


/* CONTAINER - SHUFLED DECK */
#shuffled-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* CONTAINER - PLAYER1/2 DECK */
#player1Deck-container, #player2Deck-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/* ISOMETRIC DECK */
#stack-deck {
  position: relative;
}

.fake-card {
  width: 100px;
  height: 150px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.fake-card img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}
